<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster+Two&family=Special+Elite&family=Yusei+Magic&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="signup">
  <div class="flex-container">
    <div class="background">
    <h1 class="title">SignUp</h1>
  <form action="/signup" method="POST">
    <label for="name">Name :</label>
    <input type="text" id="name" placeholder="Enter your name" autocomplete="on" name="name">
    <br>
    <label for="phone_number">Number :</label>
    <input type="number" id="phone_number" placeholder="Phone number" autocomplete="on" name="phone_number">
    <br>
    <label for="email">Email :</label>
    <input type="email" id="email" placeholder="Email" autocomplete="on" name="email">
    <br>
    <label for="password">Password :</label>
    <input type="password" id="password" placeholder="Password" autocomplete="on" name="password">
    <br>
    <button type="submit">Submit</button>
  </form>
    </div>
  </div>
  </body>
</html>
